
.container
{
    width: 100%;
    height: 100%;
}
body
{
    background-color: #292f34;
    direction: rtl;
    height: 1000px;
}
.card1
{
    width: 100%;
    height: 199px;
    background-color: #2b3237;
    color: white;
    border: 5px solid #6b7073;
    border-radius: 12px;
    font-size: smaller;
}
.btn1
{
    background-color: #ee4c22;
    border-color: #ee4c22;
    width: 125px;
    font-weight: 600;
    font-family: sans-serif;
}
.card2
{
    background-color: #1e2326;
    height: 155px;
}
.card2_text
{
    font-size: 16px;
    font-weight: 700;
    float: right;
    color: #6b7073;

}
.text_hov:hover
{
    color: white;
    cursor: pointer;
}

.btn2
{
    width: 84px;
    background-color: #ee4c22;
    border-color: #ee4c22;
}
.card3
{
    color: white;
    font-size: 12px;
    font-weight: 700;
}
.btn3
{
    font-size: 15px;
    font-weight: bolder;
    height: 46px;
    border-radius: 10px;
}
.icons_post
{
    font-size: 20px;
    color: #cdcdd9;
}
.icons_post:hover
{
    color: red;
    cursor: pointer;
}
.icons_post:active
{
    color: red;
}
.question
{
    font-size: 19px;
    font-weight: 700;
    font-family: sans-serif;
}
.person
{
    font-size: 14px;
    color: #4a4a50;
    font-weight: 700;
}
.img_person
{
    border-radius: 50%;
    width:50px;
    height: 50px;
}
.txt
{
    background-color: #cdcdd9;
    border-radius: 8px;
}
.txt::placeholder
{
    color: #2b3237

}
.btn4
{
    background-color:#4a4a50;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    height: 32px;
}
.btn4:hover
{
    color: white;
}
.btn2:hover
{
    background-color: #d3330b;
    border-color: #d3330b;
}
.icon_nav
{
    font-size: 22px;
    margin-left: 20px;

}
.icon_nav:hover
{
    color: #ee4c22;

}

.card4
{
    background-color: #292f34;
    color: white;
    border: none;
}
.caed4_title
{
    font-size: 16px;
    font-weight: 800;
    font-family: sans-serif;
}
.card5_title
{
    font-size: 14px;
    font-weight: 700;
    color: #929296;
    margin-top: -51px;
    margin-right: 42px;


}
.card5_p
{
    font-size: 12px;
    font-weight: 400;
    color: #7f7f84;
    margin-top: -6px;
    margin-right: 43px;

}
.card5_btn
{
    color: #ee4c22;
    margin-top: -41px;

}
.card5_btn:hover
{
    background-color: #ee4c22;
    color: white;
    border-radius: 35%;
}
.card5
{
    background-color: #292f34;
    height: 59px;
    border: none;
    border-bottom: 1px solid #676464;
}